<div class="page page-dashboard" data-ng-controller="HistoryCtrl">
    <div class="panel panel-default">
        
    </div>
    <!-- stats -->
    <div class="row">     
            <div class="col-md-4">
                <section class="panel panel-default">
                        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span>Average Drilling Heat</div>
                            <div class="panel-body">
                                <div id="compareDrillingHeat"></div>
                            </div>
                </section>
            </div>    
            <div class="col-md-4">
                <section class="panel panel-default">
                        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span>Average Drilling Speed</div>
                            <div class="panel-body">
                                <div id="compareDrillingSpeed"></div>
                            </div>
                </section>
            </div>               
            <div class="col-md-4">
                <section class="panel panel-default">
                        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span>Average Drilling Time</div>
                            <div class="panel-body">
                                <div id="compareDrillingTime"></div>
                            </div>
                </section>
            </div>  
     </div>
    <div class="row">     
            <div class="col-md-4">
                <section class="panel panel-default">
                        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span>Average Milling Heat</div>
                            <div class="panel-body">
                                <div id="compareMillingHeat"></div>
                            </div>
                </section>
            </div>    
            <div class="col-md-4">
                <section class="panel panel-default">
                        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span>Average Milling Speed</div>
                            <div class="panel-body">
                                <div id="compareMillingSpeed"></div>
                            </div>
                </section>
            </div>               
            <div class="col-md-4">
                <section class="panel panel-default">
                        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span>Average Milling Time</div>
                            <div class="panel-body">
                                <div id="compareMillingTime"></div>
                            </div>
                </section>
            </div>  
     </div>
</div>
